<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>consumer paradise</title>
    <link rel="stylesheet" href="/fonts.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/app.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

  </head>
  <body>

    <img class="paradiso-logo" src="/images/paradiso-logo.png">

    <div id="main-buttons">
      <div class="paradise-button" id="food-1">
          fill your heart
      </div>

      <div class="paradise-button" id="food-2">
          cleanse your soul
      </div>

      <div class="paradise-button" id="food-3">
          sate your spirit
      </div>
    </div>

    <script>
      config = {};
      config.auth = "{{{auth}}}";
    </script>
    <script src="/order.js"></script>
  </body>
</html>
